.l-ddu-container {
	@extend .container;
}

.l-ddu-blogwrapper {
	@extend .col-md-8;
}

.l-featured-image {
	@extend .col-md-3;

	img {
		width: 100%;
		height: auto;
		overflow: hidden;
		padding: 15px 0;
	}
}
.l-blog-body {
	@extend .col-md-9;
}