.m-ddu-blogbar {
	padding: em(13px);
	@include blog-module;
}

.m-ddu-single-post {
	@extend .col-md-12;
	@include blog-module; //find this mixin in the _settings.scss file
	//background: lighten($body-color, 6%);
}
.m-blog-meta {
	@extend .col-md-12;
	padding: em(10px);
	background: #fff;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-top: 1px solid #e7e7e7;

	span {
		color: #999;
	}
}